@media print, screen and (min-width: 640px) {
         h2,h3,h4{
                  color:blue;
                  background-color:aqua;
                  font-size:32px;
                  padding:16px;
         }
         img{
             width:900px;
             height:500px;
             border:8px solid gray;
         }
         * {
            margin:0; padding:0;
         }
         header {
                  width: 100%;
                  padding: 20px 0;
                  margin: 0 auto;
                  text-align: center;
         }
         header .headline{
                  font-size: 40px;
         }
         .nav-list {
                  text-align: center;
                  padding: 15px 0;
                  margin: 0 auto;
         }
         .nav-list-item {
                  list-style: none;
                  display: inline-block;
                  margin: 0 30px;
         }
         
}
